In [6]:
def add(a:float|int,b:float|int)  ->int|float:
c=a+b
return c

IndentationError: expected an indented block after function definition on line 1 (181419750.py, line 2)

In [ ]:
def add(a:float|int,b:float|int)  ->int|float:
    c=a+b
    return c

In [ ]:
# agrUMENT INPUT
add(3,4)
add(4.5,3)

# # Keyword arguments in python
add(a=23,b=17)

40

esc, y - Code cell
esc, m - markdown
shift + enter - Run the cell

In [8]:
add(a=11.5, b=12.3)

23.8

In [9]:
#Try to add 3 numbers with above code

In [10]:
add(1, 2, 3)

TypeError: add() takes 2 positional arguments but 3 were given

Create args inside function
*args - this will act like a tuple in pythonm

In [12]:
def function1(*args):
    print(args)
    print(type(args))
    for i in args:
        print (i)

In [13]:
function1(3,4)

(3, 4)
<class 'tuple'>
3
4

In [14]:
function1("Nikita", 30,"data analyst","o-ve")

('Nikita', 30, 'data analyst', 'o-ve')
<class 'tuple'>
Nikita
30
data analyst
o-ve

In [15]:
a = ["Example", True, False, 12.5, 11.2, 13]
type(a)

list

Unpack a list using *list_name

In [16]:
function1(*a)

('Example', True, False, 12.5, 11.2, 13)
<class 'tuple'>
Example
True
False
12.5
11.2
13

Given the cart products of a customer perform total billing of products

In [3]:
c1 = [
    ("Laptop", 65000, 1),
    ("Mouse", 1500, 2),
    ("Keyboard", 2000, 1)
]

In [5]:
def billing(*args):
    total_bill=0
    for name , price,qty in args:
        subtotal =price*qty
        total_bill=total_bill+subtotal
        print(f"name:{name},price:{price} INR,qty:{ qty}")
        print(f"subtotal:{subtotal}INR")
        print("\n=====================================================")
        print(f"Total Bill : {total_bill:.2f} INR")
    return total_bill

In [6]:
c1

[('Laptop', 65000, 1), ('Mouse', 1500, 2), ('Keyboard', 2000, 1)]

In [7]:
t1 = billing(*c1)

name:Laptop,price:65000 INR,qty:1
subtotal:65000INR

=====================================================
Total Bill : 65000.00 INR
name:Mouse,price:1500 INR,qty:2
subtotal:3000INR

=====================================================
Total Bill : 68000.00 INR
name:Keyboard,price:2000 INR,qty:1
subtotal:2000INR

=====================================================
Total Bill : 70000.00 INR

In [8]:
t1

70000

In [9]:
t2 = billing(
    ("Mobile", 30000, 2),
    ("Screen Guard", 200, 4),
    ("Headphones", 2000, 1),
    ("Phone cover", 400, 2)
)

name:Mobile,price:30000 INR,qty:2
subtotal:60000INR

=====================================================
Total Bill : 60000.00 INR
name:Screen Guard,price:200 INR,qty:4
subtotal:800INR

=====================================================
Total Bill : 60800.00 INR
name:Headphones,price:2000 INR,qty:1
subtotal:2000INR

=====================================================
Total Bill : 62800.00 INR
name:Phone cover,price:400 INR,qty:2
subtotal:800INR

=====================================================
Total Bill : 63600.00 INR